<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海市</key>
	<string>200000</string>
	<key>云南临沧市</key>
	<string>677000</string>
	<key>云南丽江市</key>
	<string>674100</string>
	<key>云南保山市</key>
	<string>678000</string>
	<key>云南大理州</key>
	<string>671000</string>
	<key>云南德宏州</key>
	<string>600000</string>
	<key>云南怒江州</key>
	<string>673200</string>
	<key>云南文山州</key>
	<string>660000</string>
	<key>云南昆明市</key>
	<string>650000</string>
	<key>云南昭通市</key>
	<string>650000</string>
	<key>云南普洱市</key>
	<string>665000</string>
	<key>云南曲靖市</key>
	<string>655000</string>
	<key>云南楚雄州</key>
	<string>600000</string>
	<key>云南玉溪市</key>
	<string>653100</string>
	<key>云南红河州</key>
	<string>661400</string>
	<key>云南西双版纳州</key>
	<string>666100</string>
	<key>云南迪庆州</key>
	<string>674400</string>
	<key>内蒙古乌兰察布市</key>
	<string>133500</string>
	<key>内蒙古乌海市</key>
	<string>160000</string>
	<key>内蒙古兴安盟</key>
	<string>137400</string>
	<key>内蒙古包头市</key>
	<string>140100</string>
	<key>内蒙古呼伦贝尔市</key>
	<string>162600</string>
	<key>内蒙古呼和浩特市</key>
	<string>100100</string>
	<key>内蒙古巴彦淖尔市</key>
	<string>150000</string>
	<key>内蒙古赤峰市</key>
	<string>240000</string>
	<key>内蒙古通辽市</key>
	<string>280000</string>
	<key>内蒙古鄂尔多斯市</key>
	<string>170000</string>
	<key>内蒙古锡林郭勒盟</key>
	<string>270000</string>
	<key>内蒙古阿拉善盟</key>
	<string>750300</string>
	<key>北京市</key>
	<string>100000</string>
	<key>吉林吉林市</key>
	<string>132000</string>
	<key>吉林四平市</key>
	<string>136000</string>
	<key>吉林延边州</key>
	<string>133000</string>
	<key>吉林松原市</key>
	<string>138000</string>
	<key>吉林白城市</key>
	<string>137000</string>
	<key>吉林白山市</key>
	<string>134300</string>
	<key>吉林辽源市</key>
	<string>136200</string>
	<key>吉林通化市</key>
	<string>134000</string>
	<key>吉林长春市</key>
	<string>130000</string>
	<key>四川乐山市</key>
	<string>614000</string>
	<key>四川内江市</key>
	<string>641000</string>
	<key>四川凉山州</key>
	<string>615000</string>
	<key>四川南充市</key>
	<string>637000</string>
	<key>四川宜宾市</key>
	<string>644000</string>
	<key>四川巴中市</key>
	<string>636600</string>
	<key>四川广元市</key>
	<string>628000</string>
	<key>四川广安市</key>
	<string>638500</string>
	<key>四川德阳市</key>
	<string>618000</string>
	<key>四川成都市</key>
	<string>610000</string>
	<key>四川攀枝花市</key>
	<string>617000</string>
	<key>四川泸州市</key>
	<string>646000</string>
	<key>四川甘孜州</key>
	<string>626700</string>
	<key>四川眉山市</key>
	<string>620000</string>
	<key>四川绵阳市</key>
	<string>621000</string>
	<key>四川自贡市</key>
	<string>643000</string>
	<key>四川资阳市</key>
	<string>641300</string>
	<key>四川达州市</key>
	<string>635000</string>
	<key>四川遂宁市</key>
	<string>629000</string>
	<key>四川阿坝州</key>
	<string>624000</string>
	<key>四川雅安市</key>
	<string>625000</string>
	<key>天津市</key>
	<string>300000</string>
	<key>宁夏中卫市</key>
	<string>755000</string>
	<key>宁夏吴忠市</key>
	<string>751100</string>
	<key>宁夏固原市</key>
	<string>756000</string>
	<key>宁夏石嘴市</key>
	<string>753000</string>
	<key>宁夏银川市</key>
	<string>750000</string>
	<key>安徽亳州市</key>
	<string>236000</string>
	<key>安徽六安市</key>
	<string>237000</string>
	<key>安徽合肥市</key>
	<string>230000</string>
	<key>安徽安庆市</key>
	<string>246000</string>
	<key>安徽宣城市</key>
	<string>242000</string>
	<key>安徽宿州市</key>
	<string>234000</string>
	<key>安徽池州市</key>
	<string>247000</string>
	<key>安徽淮北市</key>
	<string>235000</string>
	<key>安徽淮南市</key>
	<string>232000</string>
	<key>安徽滁州市</key>
	<string>239000</string>
	<key>安徽芜湖市</key>
	<string>241000</string>
	<key>安徽蚌埠市</key>
	<string>233000</string>
	<key>安徽铜陵市</key>
	<string>244000</string>
	<key>安徽阜阳市</key>
	<string>236000</string>
	<key>安徽马鞍山市</key>
	<string>243000</string>
	<key>安徽黄山市</key>
	<string>245000</string>
	<key>山东东营市</key>
	<string>257000</string>
	<key>山东临沂市</key>
	<string>276000</string>
	<key>山东威海市</key>
	<string>264200</string>
	<key>山东德州市</key>
	<string>253000</string>
	<key>山东日照市</key>
	<string>276800</string>
	<key>山东枣庄市</key>
	<string>277000</string>
	<key>山东泰安市</key>
	<string>271000</string>
	<key>山东济南市</key>
	<string>250000</string>
	<key>山东济宁市</key>
	<string>272000</string>
	<key>山东淄博市</key>
	<string>255000</string>
	<key>山东滨州市</key>
	<string>256600</string>
	<key>山东潍坊市</key>
	<string>261000</string>
	<key>山东烟台市</key>
	<string>264000</string>
	<key>山东聊城市</key>
	<string>252000</string>
	<key>山东莱芜市</key>
	<string>271100</string>
	<key>山东菏泽市</key>
	<string>274000</string>
	<key>山东青岛市</key>
	<string>266000</string>
	<key>山西临汾市</key>
	<string>041000</string>
	<key>山西吕梁市</key>
	<string>033000</string>
	<key>山西大同市</key>
	<string>037000</string>
	<key>山西太原市</key>
	<string>030000</string>
	<key>山西忻州市</key>
	<string>034000</string>
	<key>山西晋中市</key>
	<string>030600</string>
	<key>山西晋城市</key>
	<string>048000</string>
	<key>山西朔州市</key>
	<string>036000</string>
	<key>山西运城市</key>
	<string>044000</string>
	<key>山西长治市</key>
	<string>046000</string>
	<key>山西阳泉市</key>
	<string>045000</string>
	<key>广东 潮州市</key>
	<string>521000</string>
	<key>广东东莞市</key>
	<string>523000</string>
	<key>广东中山市</key>
	<string>528400</string>
	<key>广东云浮市</key>
	<string>527000</string>
	<key>广东佛山市</key>
	<string>528000</string>
	<key>广东广州市</key>
	<string>510000</string>
	<key>广东惠州市</key>
	<string>516000</string>
	<key>广东揭阳市 </key>
	<string>522000</string>
	<key>广东梅州市</key>
	<string>514000</string>
	<key>广东汕头市</key>
	<string>515000</string>
	<key>广东汕尾市</key>
	<string>516600</string>
	<key>广东江门市</key>
	<string>529000</string>
	<key>广东河源市</key>
	<string>517000</string>
	<key>广东深圳市</key>
	<string>518000</string>
	<key>广东清远市 </key>
	<string>511500</string>
	<key>广东湛江市</key>
	<string>524000</string>
	<key>广东珠海市</key>
	<string>519000</string>
	<key>广东肇庆市</key>
	<string>526000</string>
	<key>广东茂名市</key>
	<string>525000</string>
	<key>广东阳江市</key>
	<string>529500</string>
	<key>广东韶关市</key>
	<string>512000</string>
	<key>广西北海市</key>
	<string>536000</string>
	<key>广西南宁市</key>
	<string>530000</string>
	<key>广西崇左市</key>
	<string>532000</string>
	<key>广西来宾市</key>
	<string>546100</string>
	<key>广西柳州市</key>
	<string>545000</string>
	<key>广西桂林市</key>
	<string>541000</string>
	<key>广西梧州市</key>
	<string>543000</string>
	<key>广西河池市</key>
	<string>547000</string>
	<key>广西玉林市</key>
	<string>537000</string>
	<key>广西百色市</key>
	<string>533000</string>
	<key>广西贵港市</key>
	<string>537100</string>
	<key>广西贺州市</key>
	<string>542800</string>
	<key>广西钦州市</key>
	<string>535000</string>
	<key>广西防城港市</key>
	<string>535700</string>
	<key>新疆乌鲁木齐市</key>
	<string>830000</string>
	<key>新疆五家渠市</key>
	<string>831300</string>
	<key>新疆伊犁哈萨克州</key>
	<string>833200</string>
	<key>新疆克孜勒苏柯尔克孜州</key>
	<string>843500</string>
	<key>新疆克拉玛依市</key>
	<string>833600</string>
	<key>新疆博尔塔拉州</key>
	<string>833300</string>
	<key>新疆吐鲁番地区</key>
	<string>838000</string>
	<key>新疆和田地区</key>
	<string>845100</string>
	<key>新疆哈密地区</key>
	<string>839000</string>
	<key>新疆喀什地区</key>
	<string>843800</string>
	<key>新疆图木舒克市</key>
	<string>843900</string>
	<key>新疆巴音郭楞州</key>
	<string>841000</string>
	<key>新疆昌吉州</key>
	<string>831100</string>
	<key>新疆石河子市</key>
	<string>832000</string>
	<key>新疆阿克苏地区</key>
	<string>842000</string>
	<key>新疆阿勒泰地区</key>
	<string>836000</string>
	<key>新疆阿拉尔市</key>
	<string>843300</string>
	<key>江苏南京市</key>
	<string>210000</string>
	<key>江苏南通市</key>
	<string>216000</string>
	<key>江苏宿迁市</key>
	<string>223800</string>
	<key>江苏常州市</key>
	<string>213000</string>
	<key>江苏徐州市</key>
	<string>221000</string>
	<key>江苏扬州市</key>
	<string>225000</string>
	<key>江苏无锡市</key>
	<string>214000</string>
	<key>江苏泰州市</key>
	<string>225300</string>
	<key>江苏淮安市</key>
	<string>223000</string>
	<key>江苏盐城市</key>
	<string>224000</string>
	<key>江苏苏州市</key>
	<string>215000</string>
	<key>江苏连云港市</key>
	<string>222000</string>
	<key>江苏镇江市</key>
	<string>212000</string>
	<key>江西上饶市</key>
	<string>334000</string>
	<key>江西九江市</key>
	<string>332000</string>
	<key>江西南昌市</key>
	<string>330000</string>
	<key>江西吉安市</key>
	<string>343000</string>
	<key>江西宜春市</key>
	<string>336000</string>
	<key>江西抚州市</key>
	<string>344000</string>
	<key>江西新余市</key>
	<string>338000</string>
	<key>江西景德镇市</key>
	<string>333000</string>
	<key>江西萍乡市</key>
	<string>337000</string>
	<key>江西赣州市</key>
	<string>341000</string>
	<key>江西鹰潭市</key>
	<string>335000</string>
	<key>河北保定市</key>
	<string>071000</string>
	<key>河北唐山市</key>
	<string>063000</string>
	<key>河北廊坊市</key>
	<string>065000</string>
	<key>河北张家口市</key>
	<string>075000</string>
	<key>河北承德市</key>
	<string>067000</string>
	<key>河北沧州市</key>
	<string>061000</string>
	<key>河北石家庄市</key>
	<string>050000</string>
	<key>河北秦皇岛市</key>
	<string>066000</string>
	<key>河北衡水市</key>
	<string>053000</string>
	<key>河北邢台市</key>
	<string>054000</string>
	<key>河北邯郸市</key>
	<string>056000</string>
	<key>河南三门峡市</key>
	<string>472000</string>
	<key>河南信阳市</key>
	<string>464000</string>
	<key>河南南阳市</key>
	<string>473000</string>
	<key>河南周口市</key>
	<string>466000</string>
	<key>河南商丘市</key>
	<string>476000</string>
	<key>河南安阳市</key>
	<string>455000</string>
	<key>河南平顶山市</key>
	<string>467000</string>
	<key>河南开封市</key>
	<string>475000</string>
	<key>河南新乡市</key>
	<string>453000</string>
	<key>河南洛阳市</key>
	<string>471000</string>
	<key>河南漯河市</key>
	<string>462000</string>
	<key>河南濮阳市</key>
	<string>457000</string>
	<key>河南焦作市</key>
	<string>454000</string>
	<key>河南许昌市</key>
	<string>461000</string>
	<key>河南郑州市</key>
	<string>450000</string>
	<key>河南驻马店市</key>
	<string>463000</string>
	<key>河南鹤壁市</key>
	<string>458000</string>
	<key>浙江丽水市</key>
	<string>323000</string>
	<key>浙江台州市</key>
	<string>318000</string>
	<key>浙江嘉兴市</key>
	<string>314000</string>
	<key>浙江宁波市</key>
	<string>315000</string>
	<key>浙江杭州市</key>
	<string>310000</string>
	<key>浙江温州市</key>
	<string>325000</string>
	<key>浙江湖州市</key>
	<string>313000</string>
	<key>浙江绍兴市</key>
	<string>312000</string>
	<key>浙江舟山市</key>
	<string>316000</string>
	<key>浙江衢州市</key>
	<string>324000</string>
	<key>浙江金华市</key>
	<string>321000</string>
	<key>海南三亚市</key>
	<string>572000</string>
	<key>海南三沙市</key>
	<string>572000</string>
	<key>海南海口市</key>
	<string>571000</string>
	<key>湖北仙桃市</key>
	<string>433000</string>
	<key>湖北十堰市</key>
	<string>442000</string>
	<key>湖北咸宁市</key>
	<string>437000</string>
	<key>湖北天门市</key>
	<string>431700</string>
	<key>湖北孝感市</key>
	<string>432000</string>
	<key>湖北宜昌市</key>
	<string>443000</string>
	<key>湖北恩施州</key>
	<string>445000</string>
	<key>湖北武汉市</key>
	<string>430000</string>
	<key>湖北潜江市</key>
	<string>433100</string>
	<key>湖北荆州市</key>
	<string>434000</string>
	<key>湖北荆门市</key>
	<string>448000</string>
	<key>湖北襄阳市</key>
	<string>441000</string>
	<key>湖北鄂州市</key>
	<string>436000</string>
	<key>湖北随州市</key>
	<string>441300</string>
	<key>湖北黄冈市</key>
	<string>438000</string>
	<key>湖北黄石市</key>
	<string>435000</string>
	<key>湖南娄底市</key>
	<string>417000</string>
	<key>湖南岳阳市</key>
	<string>414000</string>
	<key>湖南常德市</key>
	<string>415000</string>
	<key>湖南张家界市</key>
	<string>427000</string>
	<key>湖南怀化市</key>
	<string>418000</string>
	<key>湖南株洲市</key>
	<string>412000</string>
	<key>湖南永州市</key>
	<string>425000</string>
	<key>湖南湘潭市</key>
	<string>411100</string>
	<key>湖南湘西州</key>
	<string>416000</string>
	<key>湖南益阳市</key>
	<string>413000</string>
	<key>湖南衡阳市</key>
	<string>421001</string>
	<key>湖南邵阳市</key>
	<string>422000</string>
	<key>湖南郴州市</key>
	<string>423000</string>
	<key>湖南长沙市</key>
	<string>410011</string>
	<key>甘肃临夏州</key>
	<string>730400</string>
	<key>甘肃兰州市</key>
	<string>730000</string>
	<key>甘肃嘉峪关市</key>
	<string>735100</string>
	<key>甘肃天水市</key>
	<string>741000</string>
	<key>甘肃定西市</key>
	<string>743000</string>
	<key>甘肃平凉市</key>
	<string>743400</string>
	<key>甘肃庆阳市</key>
	<string>744500</string>
	<key>甘肃张掖市</key>
	<string>734000</string>
	<key>甘肃武威市</key>
	<string>733000</string>
	<key>甘肃甘南州</key>
	<string>746300</string>
	<key>甘肃白银市</key>
	<string>730400</string>
	<key>甘肃酒泉市</key>
	<string>735000</string>
	<key>甘肃金昌市</key>
	<string>737000</string>
	<key>甘肃陇南市</key>
	<string>742100</string>
	<key>神农架林区</key>
	<string>442400</string>
	<key>福建三明市</key>
	<string>365000</string>
	<key>福建南平市</key>
	<string>353000</string>
	<key>福建厦门市</key>
	<string>361000</string>
	<key>福建宁德市</key>
	<string>352100</string>
	<key>福建泉州市</key>
	<string>362000</string>
	<key>福建漳州市</key>
	<string>363000</string>
	<key>福建福州市</key>
	<string>350000</string>
	<key>福建莆田市</key>
	<string>351100</string>
	<key>福建龙岩市</key>
	<string>364000</string>
	<key>西藏山南地区</key>
	<string>850700</string>
	<key>西藏拉萨市</key>
	<string>850100</string>
	<key>西藏日喀则地区</key>
	<string>857000</string>
	<key>西藏昌都地区</key>
	<string>854000</string>
	<key>西藏林芝地区</key>
	<string>860000</string>
	<key>贵州六盘水市</key>
	<string>553000</string>
	<key>贵州安顺市</key>
	<string>561000</string>
	<key>贵州毕节市</key>
	<string>551700</string>
	<key>贵州贵阳市</key>
	<string>550000</string>
	<key>贵州遵义市</key>
	<string>563000</string>
	<key>贵州铜仁市</key>
	<string>554300</string>
	<key>辽宁丹东市</key>
	<string>118000</string>
	<key>辽宁大连市</key>
	<string>116000</string>
	<key>辽宁抚顺市</key>
	<string>113000</string>
	<key>辽宁朝阳市</key>
	<string>122000</string>
	<key>辽宁本溪市</key>
	<string>117000</string>
	<key>辽宁沈阳市</key>
	<string>110000</string>
	<key>辽宁盘锦市</key>
	<string>124000</string>
	<key>辽宁营口市</key>
	<string>115000</string>
	<key>辽宁葫芦岛市</key>
	<string>125000</string>
	<key>辽宁辽阳市</key>
	<string>111000</string>
	<key>辽宁铁岭市</key>
	<string>112000</string>
	<key>辽宁锦州市</key>
	<string>121000</string>
	<key>辽宁阜新市</key>
	<string>123000</string>
	<key>辽宁鞍山市</key>
	<string>114000</string>
	<key>那曲地区</key>
	<string>852000</string>
	<key>重庆市</key>
	<string>400000</string>
	<key>阿里地区</key>
	<string>859100</string>
	<key>陕西咸阳市</key>
	<string>711200</string>
	<key>陕西商洛市</key>
	<string>726000</string>
	<key>陕西安康市</key>
	<string>725000</string>
	<key>陕西宝鸡市</key>
	<string>721000</string>
	<key>陕西延安市</key>
	<string>715700</string>
	<key>陕西榆林市</key>
	<string>718000</string>
	<key>陕西汉中市</key>
	<string>723000</string>
	<key>陕西渭南市</key>
	<string>711700</string>
	<key>陕西西安市</key>
	<string>710000</string>
	<key>陕西铜川市</key>
	<string>727000</string>
	<key>青海果洛州</key>
	<string>813500</string>
	<key>青海海东市</key>
	<string>810500</string>
	<key>青海海北州</key>
	<string>810200</string>
	<key>青海海南州</key>
	<string>811700</string>
	<key>青海海西州</key>
	<string>816000</string>
	<key>青海玉树州</key>
	<string>815000</string>
	<key>青海西宁市</key>
	<string>810000</string>
	<key>青海黄南州</key>
	<string>811200</string>
	<key>黑龙江七台河市</key>
	<string>154600</string>
	<key>黑龙江伊春市</key>
	<string>153000</string>
	<key>黑龙江佳木斯市</key>
	<string>154000</string>
	<key>黑龙江双鸭山市</key>
	<string>155100</string>
	<key>黑龙江哈尔滨市</key>
	<string>150000</string>
	<key>黑龙江大兴安岭地区</key>
	<string>165000</string>
	<key>黑龙江大庆市</key>
	<string>163000</string>
	<key>黑龙江牡丹江市</key>
	<string>157000</string>
	<key>黑龙江绥化市</key>
	<string>152000</string>
	<key>黑龙江鸡西市</key>
	<string>158100</string>
	<key>黑龙江鹤岗市</key>
	<string>154100</string>
	<key>黑龙江黑河市</key>
	<string>164300</string>
	<key>黑龙江齐齐哈尔市</key>
	<string>161000</string>
</dict>
</plist>
